*{
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-image: url('assets/ocean waves.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

/* :root {
  --breakpoint-mobile: 600px;
} */

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 0px;
}

@media only screen and (max-width: 600px){
  .sub-title{
    font-size: 40px;
  }
}