/* Scroll float effect css */

.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: clamp(1.6rem, 8vw, 3.75rem);
  font-weight: 600;
  text-align: center;
  line-height: 1.3;
  color: white;
}



.char {
  display: inline-block;
}